# Executavel e arquivos-objeto gerados pela compilacao
tp1
tp1.exe
*.exe
*.o

# Relatorio gerado pelo programa
relatorio.txt

# Pacote de entrega
*.zip
*.tar.gz

# Arquivos gerados por testes/rodar_testes.sh
testes/saida_obtida.txt
testes/saida_obtida_lf.txt
testes/saida_obtida_corte.txt
testes/saida_regras.txt
testes/diff_exemplo.txt
testes/diff_relatorio.txt
testes/valgrind.txt
tp1_fixo_ok
verifica.exe

# Pasta temporaria do gerar_zip.sh
teste_do_zip/

# Pasta temporaria de testes/rodar_testes.sh
tmp_testes/
